.fb-100{
    flex-basis: 100%!important;
}

.pt-50{
    padding-top: 50px!important;
}

.pt-250{
    padding-top: 250px!important;
}

.module-contact{
    margin-left: 0;
}

footer .footer-map{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

footer .content-block .footer-widget-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;    
}

footer .content-block .footer-widget-content a{
    color:#9b9b9b;
}

footer .content-block .footer-widget-content svg{
    margin-right:19px;
}

footer .content-block.content-headquarters .footer-widget-content {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.contact{
    background: var(--global--color-white)!important;
    .contact-widget-title{
        h5{
            color:var(--global--color-heading);
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            text-transform: capitalize;
            margin-bottom: 30px;              
        }
    }
    .contact-widget-content{
        a,span,p{
            color:var(--global--color-heading);
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;              
        }
        svg{
            margin-right: 19px;
            &.phone{
                use{
                    stroke:var(--global--color-primary);
                }
            }
            &.clock{
                use{
                    stroke:var(--global--color-primary);
                }
            }
            &.pointer{
                use{
                    fill:var(--global--color-primary);
                }
            }            
        }
    }
}

.contact-card textarea {
    width: 100%;
    height: 150px;
    padding-left: 16px;
    padding-top: 20px;
}

.contact .contact-widget-content{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.contact .contact-widget-content img{
    margin-right: 20px;
}

.contact .content-headquarters .contact-widget-content{
    align-items: flex-start;
}


.projects.projects-grid .carousel .owl-nav .owl-next,.projects.projects-grid .carousel .owl-nav .owl-prev{
    position: relative;
}

.counters{
    padding-bottom: 0;
}

.blades-img3{
    margin-left: -100px;
}

.about-img{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .rete{
        width: 100%;
        grid-column: 1/-1;
        grid-row:1/2;
    }
    .img-outer{
        grid-column: 1/-1;
        grid-row:1/2;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;        
    }
    &:after{
        position: absolute;
        top:50%;
        left:50%;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        background: var(--global--color-primary);
        content:'';
        box-shadow: 0 0 500px 200px var(--global--color-primary);
    }
}

.color-piker{
    background: #fff;
    padding:5px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    span{
        margin-right: 10px;
    }
}

.services{
    .owl-carousel{
      .owl-stage-outer{
          .owl-stage{
            display: flex;
            .owl-item{
                display: flex;
                div{
                    display: flex;
                }
            }               
          }
      }    
    }
    &.dicing-flanges-page{
    .owl-carousel{
      .owl-stage-outer{
          .owl-stage{
            display: block;
            .owl-item{
                display: block;
                div{
                    display: block;
                }
            }               
          }
      }    
    }        
    } 
}

.part-number-selector{
    padding-top: 50px;
    overflow: visible;
    &.features{
        padding: 100px 0;
        .wrap-img{
            img{
               width: 100%; 
               height: 300px;
               object-fit: cover;
               border-radius: 10px;
            }
        }
        hr{
            max-width: 300px;
            border:none;
            height: 1px;
            background: var(--global--color-primary);
            opacity: 1;
            margin:100px auto;
        }
    }
}

.part-number-selector-form{
    background: var(--global--color-white) url('/assets/images/custom/Ellipse.svg') no-repeat top right;
    border-radius: 8px;
    padding: 32px;
    margin-top: 50px;
}

.part-number-selector-form-top{
    margin-bottom: 30px;
    .form-label{
        font-size: 18px;
    }
    img{
        max-width: 100%;
    }
}

.part-number-selector-form-bottom{
    border-radius: 8px;
    padding: 32px;
    .part-number-selector-form-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        column-gap: 44px;
        row-gap: 44px;
        .col-item{
            display: flex;
            flex-direction: column;
        }
        .bubble{
            position: relative;
            border-radius: 8px;
            padding: 16px 24px;
            background: var(--global--color-white);
            z-index: 1;
            &>:not(:last-child){
                margin-bottom: 10px;
            }
            h6{
                margin: 0;
            }
            ul{
                columns: 2;
                font-size: 16px;
                padding-left: 18px;
                li{
                    list-style: disc;
                    &::marker{
                        color: var(--global--color-primary);
                    }
                }
            }
            &.top{
                margin-top: auto;
                &::after{
                    position: absolute;
                    bottom: -10px;
                    width: 30px;
                    height:30px;
                    border-radius: 4px;
                    background: var(--global--color-white);
                    content: '';
                    transform: rotate(-45deg);
                    z-index: -1;
                }
            }
            &.bottom{
                &::after{
                    position: absolute;
                    top: -10px;
                    right: 30px;
                    width: 30px;
                    height:30px;
                    border-radius: 4px;
                    background: var(--global--color-white);
                    content: '';
                    transform: rotate(-45deg);
                    z-index: -1;
                }
            }            
        }
    }
    .form-fields{
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 8px;
        background: var(--global--color-primary);
        .form-control{
            margin:8px;
            &:last-child{
                margin-left:0;
            }
        }
        input{
            width: 80px;
        }
    }    
}

.custom-checkbox-group {
    display      : flex;
    margin-bottom: 10px;
    flex-wrap: wrap;

    @media #{$maxSmall} {
        flex-wrap: wrap;
    }

    .custom-control {
        position     : relative;
        min-height   : 0;
        margin-right : 30px;
        margin-bottom: 14px;

        .custom-control-input {
            opacity: 0;

            &:checked {
                ~label {
                    &::after {
                        background-color: var(--global--color-primary);
                        opacity         : 1;
                        transform       : scale(1);
                    }
                }
            }
        }

        label {
            font-size     : 14px;
            font-family   : var(--global--font-body);
            font-weight   : 400;
            color         : var(--global--color-body);
            margin-bottom : 0;
            line-height   : 1.9;
            text-transform: capitalize;
            cursor        : pointer;
            padding-left  : 10px;

            &::before {
                content      : '';
                position     : absolute;
                top          : 50%;
                transform    : translateY(-50%);
                left         : 0;
                border-radius: 4px;
                border       : 3px solid #eaeaea;
                width        : 17px;
                height       : 17px;
            }

            &::after {
                content         : '';
                display         : inline-block;
                position        : absolute;
                width           : 7px;
                height          : 7px;
                border-radius   : 50%;
                left            : 5px;
                top             : 9px;
                background-color: transparent;
                transition      : 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                opacity         : 0;
                transform       : scale(0)
            }
        }
    }
}

.blog{
    .blog-entry{
        .entry-bio{
            &.trunc{
                p{
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;  
                }                
            }
        }
    }
}

.dicing-blade-samples-page{
    .blog-entry{
      .entry-content{
        .entry-title{
            min-height: 100px;
        }   
      }
    }
    .page-title-wrap{
        padding: 50px 0;
        height: 100%;
    }     
}

.about-page{
    &.features{
        z-index: 2;
        .list-unstyled{
            li{
                color:#fff;                
            }
        }
    }
    &.about{
        padding-top: 250px;
    }
    &.contact{
        .contact-card{
            margin-right: 30px;
        }
    }
    &.processes{
        z-index: 2;
    }
    &.testimonial{
        padding-top: 50px;
    }
    .counter.counter-3{
      .counter-holder{
        .counter-img{
            .feature-icon{
                padding: 10px;
                border-radius: 50%;
                background: var(--global--color-primary);
                svg{
                    use{
                        fill:var(--global--color-white);
                    }
                }
            }
        }    
      } 
    } 
}

.r-d-services{
    &.processes{
        padding-top: 100px;
        padding-bottom: 200px;
    }
    .content{
        p{
            color:#fff;
            margin-bottom: 20px;          
        }
        figure{
            margin-bottom: 30px;
            span{
                display: inline-block;
                font-size: 16px;
                color: #fff;
                margin-bottom: 15px;
            }
            ul{
                li{
                    color: #fff;
                }
            }            
        }
    }
}

.dicing-flanges-page{
    .page-title-wrap{
        height: auto;
        min-height: 300px;
        padding: 100px 0 150px;
    }
    &.features-bar{
        .features-holder{
            background: none;
            box-shadow: none;
            .feature-panel{
                height: 100%;
                box-shadow: none;
                background: var(--global--color-white);
                border-radius: 10px;
                .icon{
                    margin-bottom: 7px;
                    width: 130px;
                    height: 130px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: var(--global--color-white);
                    color: var(--global--color-primary);
                    position: relative;
                    overflow: hidden;
                    transition: 0.3s ease-in-out;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &:hover{
                    .icon{
                        transform : rotate(360deg);
                        box-shadow: 0 0 0 3px var(--global--color-primary);
                    }
                }
            }            
        }        

    }
    &.about{
        .about-block{
            .block-left{
                .text{
                   border-left: 4px solid var(--global--color-primary); 
                   margin-bottom: 50px;
                   p{
                       &:last-child{
                           margin-bottom: 0;
                       }
                   }
                }
            }            
        }
    }
}

.contacts-page{
    &.testimonial{
        padding-top: 50px;
        .contact-panel{
            margin-top: 0;
            transform: none;
        }
    }
    .counter.counter-3{
      .counter-holder{
        .counter-img{
            .feature-icon{
                padding: 10px;
                border-radius: 50%;
                background: var(--global--color-primary);
                svg{
                    use{
                        fill:var(--global--color-white);
                    }
                }
            }
        }    
      } 
    }      
}

.support-page{
    .about-img{
        height: 400px;
    }
}

.education-page{
    &.company-data{
        padding: 0;
      .panels-container{
        height: 100%;
        margin: 0;
        transform: translateY(-70px);
      }  
    } 
}

.dicing-blade-samples-page{
    &.faqs{
        padding-top: 0;
    }
    &.project-single{
        .products_img{
            margin-bottom: 50px;
            img{
              max-width: 100%; 
              border-radius: 10px;
              object-fit: cover; 
            }
        }
    }
}

.form-control[readonly]{
    background: var(--global--color-white);
}
@media only screen and (max-width: 992px) {
    .part-number-selector-form{
        .part-number-selector-form-grid{
            grid-template-columns: 1fr;
            .col-item{
                &:nth-of-type(1){
                    order:1;
                }
                &:nth-of-type(2){
                    order:4;
                }
                &:nth-of-type(3){
                    order:7;
                }
                &:nth-of-type(4){
                    order:2;
                }
                &:nth-of-type(5){
                    order:5;
                }
                &:nth-of-type(6){
                    order:9;
                } 
                &:nth-of-type(7){
                    order:3;
                } 
                &:nth-of-type(8){
                    order:6;
                } 
                &:nth-of-type(9){
                    order:9;
                }                                                                                
            }
        }
    }
    .education-page{
        &.company-data{
            padding: 50px 0;
            .panels-container{
                transform: none;
                max-width: 100%;
                margin-bottom: 30px;
                height: auto;
            }  
        } 
    }    
}